

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
    display: none;
}

.modal-form {
    padding: 1rem;
}

.modal-form h1 {
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
}

.modal-box {
    background: white;
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 gray;
    position: relative;
    border-radius: 5px;
    min-height: 400px;
    min-width: 250px;
}

.modal-input {
    display: inline-block;
    border-radius: 2px;
    outline: none;
    border: lightslategray;
    height: 2rem;
    width: 99%;
    box-shadow: 1px 1px 1px gray;
}

.modal-input::placeholder {
    color: gray;
}

.modal-input-btn {
    display: block;
    margin: 0 auto;
    width: 4rem;
    height: 2rem;
    border-radius: 2px;
    outline: none;
    border: none;
    color: white;
    background-color: lightskyblue;
    font-size: 1rem;
}

.modal-input-btn:hover {
    background-color: rgb(19, 127, 194);
    transition: 0.2s ease;
}

.close-btn {
    position: absolute;
    top: 2%;
    right: 4%;
    font-size: 1.5rem;
}

.close-btn:hover {
    cursor: pointer;
    color: tomato;
    transition: 0.2s ease-out;
}

#bio {
    font-family: 'Titillium Web', sans-serif;
    overflow-wrap: normal;
    overflow: scroll;
    resize: vertical;
    min-height: 150px;    
}

.form-validation {
    margin-bottom: 0.5rem;
    width: auto;
}

.form-validation.error {
    margin-bottom: 1.5rem;
    position: relative;
    border: 2px solid rgb(250, 69, 69);
    border-radius: 2px;
}

.form-validation.valid {
    position: relative;
    border: 2px solid rgb(65, 192, 65);
    border-radius: 2px;
}

.form-validation p {
    font-size: 0.7rem;
    margin-top: 0.25rem;
    color: red;
    position: absolute;
    display: none;
}

.submission h4 {
    display: none;
}

.form-validation.error p {
    display: block;
}

.valid-submission {
    display: block;
}

