body{
    text-align: center;
}

.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    font-style: italic;
}

.item{
    display: flex;
    flex-direction: row;
    height: 1rem;
    padding: 1rem;
    margin: .5rem;
}

#action-btn {
    padding: 1rem;
    margin: 1rem;
}

/* FLEX BOX */

.banner{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(lightblue, rgb(36, 36, 233));
    padding: .5rem;
    
}


/* MEDIA QUERIES */


/* On Screens smaller than 600px */

@media screen and (max-width: 600px) {
    .banner{
        background: linear-gradient(orange, red)
    }
}