.logo{
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    font-style: italic;
}



a {
    color: black;
    text-decoration: none;
}




/* BASE LAYOUT */

/* HEADER STYLES */

.banner{
    box-sizing: border-box;
    box-shadow: 5px 2px 50px rgb(170, 170, 170);
    background: linear-gradient(rgb(238, 238, 238), rgb(204, 204, 204));
    padding: 1rem;
    margin: -.5rem;    
}

/* NAV MENU */

#menu-nav {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

#menu-nav li {
    display: block;
    text-align: right;
    padding: .5rem;
}

#menu-nav li a {
    padding: 6px 12px;
    border-bottom: 2px solid red;
    width: 100%;
    display: block;
    color: white;
}

/* BODY STYLES */

.page-content{
    display: block;
    align-content: center;
    text-align: center;
}

#action-btn {
    padding: 1rem;
    margin: 1rem;
}

/* FOOTER STYLES */

footer {
    box-sizing: border-box;
    color: white;
    background-color: rgb(65, 65, 65);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* MEDIA QUERIES */


/* On Screens smaller than 600px */

@media screen and (max-width: 600px) {
    .banner {
        background: linear-gradient(orange, red);
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 601px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    
    #menu-nav {
        list-style: none;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 800px) {
    .hamburger,
    .toggle {
        visibility: hidden;
    }
}